# Streamlit Cloud — Dental Classifier
# Pakai tensorflow-cpu agar lebih ringan (Cloud tidak punya GPU)
streamlit>=1.32.0
tf-nightly
keras
numpy
pillow
opencv-python-headless
h5py
scikit-learn
matplotlib
pandas